<!DOCTYPE html>
<html ng-app="myApp">
  
  <head lang="en">
    <meta charset="utf-8">
    <title>Angular Mobile Nav</title>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <link rel="stylesheet" href="style.css">
    <script src="app.js"></script>
    <script src="mobile-nav.js"></script>
  </head>
  
  <body ng-controller="MainCtrl">
    <pre>history = {{history()}}<br />current = {{path()}}</pre>
    <a ng-click="nav.go('/one')">Page One</a> |
    <a ng-click="nav.go('/two')">Page Two</a> |
    <a ng-click="nav.back()">Back</a> |
    <a ng-click="nav.goNoHistory('/one')">Page One, No History</a> |
    <a ng-click="nav.goNoHistory('/two')">Page Two, No History</a>
    <mobile-view></mobile-view>
  </body>
</html>
