
.page {
  width: 100%;
  height:100%;
  position: absolute;
  -webkit-transition: -webkit-transform 0.3s ease;
}

/* .left places page out of screen on the left */
.page.left {
  -webkit-transform: translateX(-100%);
}

/* .shown places page in screen on normal spot */
.page.shown {
  -webkit-transform: translateX(0%);
}

/* .right places page out of screen on the right*/
.page.right {
  -webkit-transform: translateX(100%);
}
